body {
    background: #0f0f0f;
    color: white;
    font-family: Arial;
    text-align: center;
    padding: 40px;
}

input {
    padding: 10px;
    width: 400px;
}

button {
    padding: 10px 20px;
    background: red;
    color: white;
    border: none;
    cursor: pointer;
}
